*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-size: 12px;
    font-weight: 400;
    font-family: 'Noto Sans Symbols', sans-serif;
    overflow-x: hidden;
    background-color: #f2f2f2;
}
.phones{
    margin: 0 auto;
    display: flex;
    width: 500px;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    top: 60px;
    animation: slidein 3s ease-in;
    margin-bottom: 4rem;
}
.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.red{
    color: red;
}

.hover:hover{
    color: rgb(39, 216, 235);
}
@keyframes slidein {
    0%{
        transform: skewX(32deg) translateX(-200%);
    }
    100%{
        transform: skewX(0deg);
    }
}

.sect1{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 7rem;
}
.image14pro{
    width: 70%;
}
.image14pro img{
    width: 100%;
}
.white, .black{
    color: white;
    font-size: 1.7rem;
    font-weight: 900;
}
.black{
    color: black;
}
.grey{
    color: grey;
    font-size: 1.1rem;
}
.gradient1{
    font-size: 3rem;
    background: -webkit-linear-gradient(#ee21e0, #5c148b);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.store{
    padding: 0 1.5rem;
    background-color: #0071e3;
    color: white;
    font-size: 1.2rem;
    height: 6vh;
    border-radius: 50px;
    margin-right: 1rem;
}
.store:hover{
    text-decoration: none;
}
.buttons{
    display: flex;
    margin-top: 2rem;
}
.sect2{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 4rem;
    height: 150vh;
    margin: 1rem;
}
.scroll{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
.twohands{
    width: 100%;
    height: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.twohands img{
    width: 50%;
    height: 100%;
    margin: 0 auto;
}
.hand2{
    width: 20%;
    object-fit: cover;
    object-position: top right;
}
.hand1{
    width: 20%;
    object-fit: cover;
    object-position: top left;
}

.sect3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: white;
    padding: 0 7rem;
    width: 96.5vw;
}
.side1{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.side1 img{
    width: 47%;
}

.side2{
    height: 100%;
    width: 50%;
}
.side2 img{
    width: 100%;
    height: 100%;
}
.gradient{
    font-size: 3rem;
    font-weight: 900;
    line-height: 50px;
    background: -webkit-linear-gradient(#0619a3, #1a73c0, #023358);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 2rem 0;
}
.sect4{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 96.5vw;
}
.sect4 h2, main>h2{
    font-size: 3rem;
    font-weight: 800;
    margin: 4rem auto;
    text-align: center;
}
.information{
    display: grid;
    grid-template-areas:
    "column1 column2 column3 column4";
    margin: 0 auto;
    width: 70%;
    margin-bottom: 1rem;
}
.column1, .column2, .column3, .column4{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
}
.column1{
    grid-area: column1; 
}
.column2{
    grid-area: column2;
}
.column3{
    grid-area: column3;
}
.column4{
    grid-area: column4;
}
.rowpic{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 600px;
    width: 80%;
}
.rowpic img{
    margin: 1rem 0;
}
.rowpic p{
    font-size: 1rem;
}
.rowpic .buttons{
    flex-direction: column;
    /* justify-self: flex-end; */
}
.rowpic .buttons a{
    font-size: 0.8rem;
    padding: 0 1rem;
    height: 30px;
}
.rowpic hr, .rowinfo hr{
    width: 100%;
    height: 0.1px;
    color: grey;
    margin-top: 1rem;
}
.rowinfo, .rows{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.rows{
    margin: 1.5rem 0;
    height: 130px;
}
.rowinfo h6{
    font-size: 1.2rem;
}
.sect4>.wrap{
    margin-bottom: 1.5rem;
}
.sect5, .sect6{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96.5vw;
    margin: 1rem auto;
}
.text{
    margin-right: 1rem;
    font-size: 1.3rem;
   display: flex;
   flex-direction: column;
   align-items: center;
    width: 35%;
}
.pic{
    height: 100%;
    width: 65%;
}
.pic img{
    width: 100%;
    height: 100%;
}


@media (max-width:1000px) {
    .buttons{
        flex-direction: column;
    }
    .buttons a{
        font-size: 0.8rem;
        padding: 0 1rem;
        height: 30px;
    }
    .sect2{
        width: 96.5vw;
    }
    .twohands{
        width: 100%;
        height: 50%;
    }
    .sect3{
        flex-direction: column;
        width: 96.5vw;
        margin: 0 auto;
    }
    .side1{
        width: 100%;
        text-align: center;
    }
    .side1 img{
        width: 150px;
        margin: 1rem auto;
    }
    .side1 .buttons{
        width: 130px;
        height: 27px;
        margin: 2rem auto;
        text-align: center;
    }
    .side2{
        height: 70%;
        width: 100%;
        margin-top: 1rem;
    }
    .side2 img{
        width: 100%;
        height: 100%;
    }
    .gradient{
        font-size: 2rem;
        margin: 0;
       width: 100%;
    }
    .sect4 h2, main>h2{
        font-size: 2rem;
    }
    .sect4{
        width: 95vw;
        margin-top: 1rem;
    }
    .rowpic p{
        font-size: .8rem;
    }
    .information{
        grid-template-areas:
        "column1 column2"
        "column3 column4";
        gap: 1rem;
        width: 82%;
    }
    .sect5, .sect6{
        flex-direction: column;
        text-align: center;
        width: 92.5vw;
    }
    .text{
        margin-right: 0;
        font-size: 1.1rem;
       display: flex;
       flex-direction: column;
       align-items: center;
        width: 100%;
        margin-bottom: 1rem;
    }
    .pic{
        width: 100%;
    }
}
@media (max-width:710px) {
    .sect3{
        width: 95vw;
        margin: 0 auto;
    }
    .sect3{
        flex-direction: column;
        width: 96.5vw;
        margin: 0 auto;
    }
    .side1{
        width: 100%;
        text-align: center;
    }
    .side1 img{
        width: 150px;
        min-width: 130px;
        margin: 1rem auto;
    }
    
    .side2{
        height: 70%;
        width: 100%;
        margin-top: 1rem;
    }
    .side2 img{
        width: 100%;
        height: 100%;
    }
    .gradient{
        width: 100%;
    }
}
@media (max-width:450px) {
    
    .side1 img{
        width: 110px;
        margin: 1rem auto;
    }
    
    .side2{
        height: 400px;
        width: 100%;
        margin-top: 1rem;
    }
    .side2 img{
        width: 100%;
        height: 100%;
    }
    .gradient{
        width: 100%;
        font-size: 1.3rem;
    }
}