*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-size: 12px;
    font-weight: 400;
    font-family: 'Noto Sans Symbols', sans-serif;
    overflow-x: hidden;
    background-color: #f2f2f2;
}
.phones{
    margin: 0 auto;
    display: flex;
    width: 35vw;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    top: 60px;
    animation: slidein 3s ease-in;
    margin-bottom: 4rem;
}
.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.red{
    color: red;
}

.hover:hover{
    color: rgb(39, 216, 235);
}
@keyframes slidein {
    0%{
        transform: skewX(32deg) translateX(-200%);
    }
    100%{
        transform: skewX(0deg);
    }
}

.sect1{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 7rem;
}
.image14pro{
    width: 70%;
}
.image14pro img{
    width: 100%;
}
.white, .black{
    color: white;
    font-size: 1.7rem;
    font-weight: 900;
}
.black{
    color: black;
}
.grey{
    color: grey;
    font-size: 1.1rem;
}
.gradient1{
    font-size: 3rem;
    background: -webkit-linear-gradient(#ee21e0, #5c148b);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.store{
    padding: 0 1.5rem;
    background-color: #0071e3;
    color: white;
    font-size: 1.2rem;
    height: 6vh;
    border-radius: 50px;
    margin-right: 1rem;
}
.store:hover{
    text-decoration: none;
}
.buttons{
    display: flex;
    margin-top: 2rem;
}
.sect2{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 4rem;
    height: 150vh;
    margin: 1rem;
}
.scroll{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
.twohands{
    width: 100%;
    height: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.twohands img{
    width: 50%;
    height: 100%;
    margin: 0 auto;
}
.hand2{
    width: 20%;
    object-fit: cover;
    object-position: top right;
}
.hand1{
    width: 20%;
    object-fit: cover;
    object-position: top left;
}

.sect3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: white;
    padding: 0 7rem;
    width: 96.5vw;
    height: 90vh;
}
.side1{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.side1 img{
    width: 47%;
}
.side1 .button{
    margin-top: 0px;
}
.side2{
    height: 100%;
    width: 50%;
}
.side2 img{
    width: 100%;
    height: 100%;
}
.gradient{
    font-size: 3rem;
    font-weight: 900;
    line-height: 50px;
    background: -webkit-linear-gradient(#0619a3, #1a73c0, #023358);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 2rem 0;
}
.sect4{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 96.5vw;
}
.sect4 h2{
    font-size: 2rem;
    font-weight: 800;
}
.information{
    display: grid;
    grid-template-areas:
    "column1 column2 column3 column4"
    
    ;
    gap: 1rem;
}
.column1, .column2, .column3, .column4{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.column1{
    grid-area: column1; 
}
.column2{
    grid-area: column2;
}
.column3{
    grid-area: column3;
}
.column4{
    grid-area: column4;
}
.rowpic{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: red;
    height: 600px;
}
.rowpic img{
    margin: 1rem 0;
}
.rowpic p{
    font-size: 1rem;
}
.rowpic .buttons{
    flex-direction: column;
    /* justify-self: flex-end; */
}
.rowpic .buttons a{
    font-size: 0.8rem;
    padding: 0 1rem;
    height: 30px;
}